<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h4>Current projects</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Project name</th>
          <th scope="col">Project stage</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="project : ${projects}">
          <td th:text="${project.name}"></td>
          <td th:text="${project.stage}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container mt-3">
    <h4>Current Employees</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee first name</th>
        <th scope="col">Employee last name</th>
        <th scope="col">Employee email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="employee : ${employees}">
        <th scope="row" th:text="${employee.employeeId}"></th>
        <td th:text="${employee.fname}"></td>
        <td th:text="${employee.lname}"></td>
        <td th:text="${employee.email}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>